@model List<CSET_Web_Project.Models.Faculty>

@{
    ViewBag.Title = "Index";
}

<h2>Faculty</h2>

<div class="row">
	@foreach (var i in Model)
	{
		<div class="col-md-3">
			<div class="facultyTile">
				<img class="medSquare" src="/Content/Images/@i.ImageFile.PathThumb" alt="@i.FirstName" />
				<table class="facultySimpleTable" border="0" cellpadding="3" cellspacing="0">
					<tr>
						<td align="right">Name:</td>
						<td style="padding-left: 1em;"><a href="/Faculty/Profile/@i.FacultyId">@i.FirstName @i.LastName</a></td>
					</tr>
					<tr>
						<td align="right">Office:</td>
						<td style="padding-left: 1em;">@i.Office</td>
					</tr>
					<tr>
						<td align="right">Phone:</td>
						<td style="padding-left: 1em;">@i.Phone</td>
					</tr>
				</table>
			</div>
		</div>
	}
</div>