<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>OIT CSET: @ViewBag.Title</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("meta", false)
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
	<div class="container">
		<img src="~/Content/cset_website_banner_image.png" />
		<hr />
		@Html.Partial("_NavbarPartial")
	</div>

	<div class="container body-content" id="mainBodyContainer" style="border-width:thick; border-style:outset;">
		@RenderSection("featured", required: false)
		@RenderBody()
	</div>
	<div class="container body-content">
		<hr />
		<footer style="padding-bottom: 0.5%; margin-bottom: 0.25%; text-align: center; font-size: 90%;">
			<p style="padding-bottom: 0.5%; margin-bottom: 0.25%;">Copyright &#169; OIT CSET 2011-@DateTime.Now.Year<hr /></p>
			<a href="http://www.oit.edu">OIT Home</a> |
			<a href="http://my.oit.edu">My OIT Home</a> |
			<a href="http://e5.onthehub.com/WebStore/Welcome.aspx?ws=41deffc0-d19b-e011-969d-0030487d8897&utm_campaign=oth-widgets&utm_medium=school-finder&utm_source=Computer%20Systems%20Engineering%20Technology%20-%20O.I.T.%20-%20DreamSpark%20Premium&JSEnabled=1">MSDNAA Portal</a>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
