
<div class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("CSET Main", "Index", "Home", null, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("About CSET", "About", "Home")</li>
				<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
				<li>@Html.ActionLink("Faculty", "Index", "Faculty")</li>
				@*@Html.ActionLink("Degrees", "Index", "Degrees")*@
				<li class="dropdown">
					<a href="~/Degrees/Index" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown" data-hover="dropdown" data-delay="700">Degrees<b class="caret" style="font-size:14px"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
						<li role="menuitem">@Html.ActionLink("Hardware Engineering Technology", "HardwareDegree", "Degrees")</li>
						<li role="menuitem">@Html.ActionLink("Software Engineering Technology", "SoftwareDegree", "Degrees")</li>
						<li role="menuitem">@Html.ActionLink("Embedded System Engineering", "EmbeddedDegree", "Degrees")</li>
						<li role="menuitem">@Html.ActionLink("5-Year Concurrent Degree", "ConcurrentDegree", "Degrees")</li>
					</ul>
				</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>